<div class="table">
    <mat-card>
        <div class="row">
            <h3 highlight>Register Card</h3>
            <mat-divider></mat-divider>
        </div>
        <div class="row">
            <div class="table">
                <form [formGroup]="formGroup">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Type the Card information" formControlName="cardNumber" maxlength="19">
                    </mat-form-field>
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Make a comment for the Card" formControlName="cardName">
                    </mat-form-field>
                    <mat-form-field class="input-70-width">
                        <input matInput placeholder="Type Passport Location ID" formControlName="locationId" maxlength="13">
                    </mat-form-field>
                    <button mat-button (click)="onFetchLocationClick()">Fetch matching Location ID <mat-icon>add_circle</mat-icon></button>
                    <mat-form-field class="input-70-width">
                        <input matInput placeholder="Type Passport Account ID" formControlName="accountId" maxlength="12">
                    </mat-form-field>
                    <button mat-button (click)="onFetchAccountClick()">Fetch matching Account ID <mat-icon>add_circle</mat-icon></button>
                </form>
            </div>
        </div>
    </mat-card>
    <div class="buttons">
        <button mat-stroked-button routerLink="/">Back</button>
        <button mat-stroked-button [routerLink]="['list']">List</button>
        <button mat-stroked-button color="primary" (click)="onSaveClick()">Save Card</button>
    </div>
</div>