.table {
    padding: 2%;
}

.table1 {
    padding: 4%;
}

.title-area {
    padding: 20px 0px;
}

.input-full-width {
    width: 100%;
}

.input-50-width {
    width: 50%;
}

.input-70-width {
    width: 70%;
}

.congrat {
    padding: 2% 10%;
    text-align: center;
}

.line-10 {
    padding-top: 10px;
}