<div class="table">
    <mat-card>
        <div class="row">
            <h3 highlight>Capture Deposit</h3>
            <mat-divider></mat-divider>
        </div>
        <div class="row">
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill the Card information</ng-template>
                <div class="row">
                    <mat-form-field class="input-70-width">
                        <input type="text" placeholder="Type or choose the Card" matInput formControlName="cardNumber" (change)="onCardNumberChange()" [matAutocomplete]="auto" maxlength="19">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let cardOption of cardFilteredOptions | async" [value]="cardOption" (click)="onCardSelect()">
                                {{cardOption}}
                            </mat-option>
                        </mat-autocomplete>
                        <button mat-button *ngIf="getCardNumber()" matSuffix mat-icon-button aria-label="Clear" (click)="onClearClick();">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-button [(disabled)]="isRegistered" (click)="onRegisterClick()">Register this Card <mat-icon>add_circle</mat-icon></button>
                </div>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Scan Items</ng-template>
                <mat-tab-group class="input-full-width">
                    <mat-tab label="Front" class="input-50-width">
                        <img [src]="frontImage" *ngIf="!isFrontImageLoading; else noFrontImageFound">
                        <ng-template #noFrontImageFound>
                            <div>
                                <img src="assets/cheque1.jpg" alt="Fallbackimage" width="400px">
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Rear">
                    </mat-tab>
                  </mat-tab-group>
                  <button mat-raised-button color="primary" class="input-full-width line-spacing-10" (click)="onCaptureClick()">Start Capture</button>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Save Deposit</ng-template>
                You are now done.
                <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Print Receipt</ng-template>
                You are now done.
                <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
            </mat-horizontal-stepper>


        </div>
    </mat-card>
    <div class="buttons">
        <button mat-button [routerLink]="['new']" color="primary" (click)="onSaveClick()">Save Deposit</button>
    </div>
</div>