<div class="reactive-main">
    <div class="table">
        <div class="row">
            <div class="col-md-12">
                <h3>Dashboard</h3>   
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">                       
                <div class="panel panel-primary text-center no-boder bg-color-orange">
                    <div class="panel-body1">
                        <i class="fa fa-bar-chart-o fa-5x"></i>
                        <h3>
                          <div class="example-ripple-container mat-elevation-z4"
                            matRipple
                            [matRippleCentered]="centered"
                            [matRippleDisabled]="disabled"
                            [matRippleUnbounded]="unbounded"
                            [matRippleRadius]="radius"
                            [matRippleColor]="color">
                            Capture Deposit
                          </div>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12"> 
                <div class="panel panel-primary text-center no-boder bg-color-red">
                    <div class="panel-body1">
                        <i class="fa fa-edit fa-5x"></i>
                        <h3>
                          <div class="example-ripple-container mat-elevation-z4"
                                matRipple
                                [matRippleCentered]="centered"
                                [matRippleDisabled]="disabled"
                                [matRippleUnbounded]="unbounded"
                                [matRippleRadius]="radius"
                                [matRippleColor]="color">
                            Push Deposits
                          </div>
                        </h3>
                    </div>
                </div>                         
            </div>
        </div>     
    </div>
</div>