<mat-toolbar color="primary">
    <div style="width:50%;">
    <button mat-button routerLink="/capture" >Passport Ø Downtime Deposit</button>   
    </div>
    <div style="text-align:right; width:50%;">
        <button *ngIf="authService.isAuthenticated" mat-button routerLink="/capture" >Capture Deposit</button>
        <button mat-raised-button color="primary" *ngIf="authService.isAuthenticated" routerLink="/push"
                matBadge="8" matBadgePosition="after" matBadgeColor="accent">
            Push Deposits
        </button>
        <button *ngIf="authService.isAuthenticated" mat-button (click)="authService.logout()" >Logout</button>  
    </div>                                              
</mat-toolbar>