<mat-toolbar color="primary">
    <div style="width:50%;">
    <button mat-button routerLink="/home" >0-DTD</button>   
    </div>
    <div style="text-align:right; width:50%;">
    <!--<button mat-button routerLink="/employers" >Employers</button>-->
    <!--<button *ngIf="!authService.isAuthenticated" mat-button routerLink="/" >Sign In</button>-->
    <button *ngIf="authService.isAuthenticated" mat-button routerLink="/deposit" >Capture Deposit</button>
    <button mat-raised-button color="primary" *ngIf="authService.isAuthenticated" routerLink="/deposits"
            matBadge="8" matBadgePosition="after" matBadgeColor="accent">
        Push Deposits
    </button>
    <button *ngIf="authService.isAuthenticated" mat-button (click)="authService.logout()" >Logout</button>  
    </div>                                              
</mat-toolbar>